exportPattern("^[[:alpha:]]+")
importFrom("stats", "arima", "arima.sim","ts")
importFrom("stats","qqnorm","rnorm","pnorm","rt","runif","rgamma","rlogis","pchisq")
importFrom("graphics", "par", "abline", "barplot")
importFrom("stats", "quantile")
importFrom("stats", "as.ts")
importFrom("graphics", "abline", "barplot", "par")
importFrom("stats", "arima", "arima.sim", "as.ts", "pchisq", 
           "quantile", "rgamma", "rnorm", "rt", "runif", "ts")


